# Docs: https://caddyserver.com/docs/caddyfile

qulph.com:443 {

    root /var/www/qulph/application/web

    fastcgi / php-fpm:9000 php {
        index index.php
    }

    # To handle .html extensions change ext to
    # ext / .html

    rewrite {
        to {path} {path}/ /index.php?{query}
    }

    gzip
    browse
    log /var/log/caddy/access.log
    errors /var/log/caddy/error.log

    tls contact@qulph.com

    # To use Lets encrpt tls with a DNS provider uncomment these
    # lines and change the provider as required
    #tls {
    #  dns cloudflare
    #}
}
