# Docs: https://caddyserver.com/docs/caddyfile

*:443 {

    root /var/www/qulph/application/web

    fastcgi / php-fpm:9000 php {
        index index.php
    }

    # To handle .html extensions change ext to
    # ext / .html

    rewrite {
        to {path} {path}/ /index.php?{query}
    }

    tls contact@qulph.com {
 		ask https://api.qulph.com/v1/site/allowed?access-token=100-token
 		dns digitalocean
 	}

    gzip
    browse
    log /var/log/caddy/access.log
    errors /var/log/caddy/error.log

}


api.qulph.com:443 {

    root /var/www/api/api/web

    fastcgi / php-fpm:9000 php {
        index index.php
    }

    rewrite {
        to {path} {path}/ /index.php?{query}
    }

}