# Docs: https://caddyserver.com/docs/caddyfile

(common) {
  tls {
    max_certs 50000
  }
  # To use Lets encrpt tls with a DNS provider uncomment these
    # lines and change the provider as required
  tls {
    dns digitalocean
  }

  gzip
  browse
  log /var/log/caddy/access.log
  errors /var/log/caddy/error.log
}


*.qulph.com:443 {

    root /var/www/qulph/application/web

    fastcgi / php-fpm:9000 php {
        index index.php
    }

    # To handle .html extensions change ext to
    # ext / .html

    rewrite {
        to {path} {path}/ /index.php?{query}
    }

    import common

}


api.qulph.com:443 {

    root /var/www/api/api/web

    fastcgi / php-fpm:9000 php {
        index index.php
    }

    # To handle .html extensions change ext to
    # ext / .html

    rewrite {
        to {path} {path}/ /index.php?{query}
    }

    import common

}